/* nav styles */
/* import fonts aswell */

/* fonts start */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
 /*fonts end here  */

body{
background-color: #F5F5F5;
}

.btn-secondary {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

 .btn-primary {
    background-color: transparent;
    color: #00796b;
    border: 1px solid #00796b; 
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}


.dark-2{
    color: #0000007a;
    font-size: 24px;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo{
    font-weight: bold;
    font-size: 32px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: #000;

}   
.banner-content{
        padding-left: 45px;
        /* padding-right: 598px; */
    
}

.banner{
    display: flex;
    background-color: #C6E4D6;
    text-decoration: none;
    text-decoration-line: none;
    justify-content: space-between;
    border-radius: 50px;
    align-items:center;
    padding: 50px 30px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;
}

.pillars-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: transparent;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: left;
    
}

.pillars {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-end; 
  height: 100%; 
  margin-top: 15px; 
}


.pillars h2 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 10px; 
}
.textleftcolor{
    color: rgba(14, 14, 14, 0.7);
    font-size: 24px;
    font-weight: 400;
}

.vision {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-start; 
  height: 100%;
  position: relative;
  padding-bottom: 20px; 
}

.vision h2 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px; 
  margin-bottom: 10px; 
  margin-left:50px;
}

.vision-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin: 10px 50px 20px 50px;  
  text-align: left;
  line-height: 1.5;
}

.vision-cards {
  display: flex;
  justify-content: space-between; 
  align-items: stretch;           
  gap: 20px;                     
  width: 93%;                   
  padding: 0px 50px;
}



.vision-card1,
.vision-card2,
.vision-card3 {
  background-color: rgba(84, 144, 245, 0.2); 
  border-radius: 16px;
  text-align: left;           
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;                     
  padding: 50px;              
  box-sizing: border-box;
}


.vision-card2 {
  background-color: rgba(198, 228, 214, 1);
}

.vision-card3 {
  background-color: rgba(247, 235, 207, 1);
}


.vision-card1 h3,
.vision-card2 h3,
.vision-card3 h3 {
  font-size: 20px;            
  font-weight: 600;
  margin: 10px 0;
}


.visiontext {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);            
  text-align: left;          
  border-radius: 8px;
}


.vbtn1,
.vbtn2,
.vbtn3 {
  font-size: 16px;            
  padding: 10px 20px;
  border-radius: 12px;       
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: flex-start;     
}

.vbtn1 {
  background-color: #5490F5;
  color: white;
}

.vbtn2 {
  background-color: #09A15C;
  color: white;
}

.vbtn3 {
  background-color: #FFC239;
  color: rgb(255, 255, 255);
}


.vision-card1 img,
.vision-card2 img,
.vision-card3 img {
  width: 50px;               
  height: auto;
  margin-bottom: 10px;
}


.pillar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px 30px;
    margin: 0px 20px;
    font-size: 24px;
    text-align: left;
}


.lightb{
    display: flex;
    align-self: flex-start;
}


.quote-card {
  position: relative;          
  display: flex;
  
  padding: 20px; 
  margin: 0px 50px;
  background-color: #fff;       
  border-radius: 10px;        
  overflow: hidden;              
  box-sizing: border-box;
}


.quote-bg {
  position: absolute;            
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-left: 20px;             
  width: 60px;                  
  height: auto;
  opacity: 0.5;                  
}


.quote-text {
  position: relative;                             
  padding-left: 0px;           
  
}


.quote-text blockquote {
  font-size: 16px;              
  margin: 0;
  color: rgba(14, 14, 14, 0.7);   
  font-style: italic;
  font-weight: 600;

}


.cite {
  display: block;
  font-size: 20px;  
  font-weight: 600;            
  margin-top: 10px;
  color: rgba(14, 14, 14, 0.8);
}

.small-text {
  display: block;
  margin-top: 5px; 
  font-size: 14px; 
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
}

.opinion-question {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}


.opinion {
  margin: 30px auto;
  width: 93%;
  text-align: left; 
}

.opinion h2 {
  font-size: 28px;
  margin-bottom: 20px;
}


.opinion-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;        
  margin-bottom: 20px;
}


.opinion-table-wrapper {
  width: 95%;                
  margin: 0 auto;            
}

.opinion-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.opinion-table-wrapper thead tr {
  background-color: #C6E4D6; 
}

.opinion-table-wrapper thead th {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: left;
}

.opinion-table-wrapper tbody td {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  text-align: left;
}


.opinion-select {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #C6E4D6;
  text-align: left;
}



.news {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  text-align: left;
}


.news h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.newsTITLE {
  font-size: 24px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
}
.news-summary {
  display: flex;
  align-items: start;
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  text-align: left;
  line-height: 1.5;
}

.news-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  justify-content: center;
  align-items: center;
}

.news-card {
  display: flex;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;   
}

.card-left {
  flex-direction: row;
}

.card-right {
  flex-direction: row;
}

.news-image {
  flex: 0 0 250px;    
  margin: 50px;       
}
.news-image img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
  display: block;
}

.news-content {
  flex: 1;
  padding: 20px;      
  margin:50px;
  display: flex;
  flex-direction: column;
  gap: 10px;        
  box-sizing: border-box;
}

.news-content h3 {
  font-size: 24px;
  margin: 0 0 10px;
}
.news-meta {
  display: flex;
  flex-direction: column; 
  align-items: left;    
  gap: 10px;
}

.news-logo {
  width: 100px; 
}

.news-date-time {
  font-size: 14px;
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
}
.news-description {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(14, 14, 14, 0.7) ;
  font-weight: 400;
}
.news-readmore {
  align-self: flex-start;
  background-color: #006A50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.news-readmore:hover {
  background-color: #005944;
}



.donate {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  text-align: center; 
}

.donate h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.donate-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 20px;
  font-weight: 400;
}

.donate-amounts {
  width: 100%;
  max-width: 600px;       
  margin: 0 auto 20px;    
  text-align: center;     
}

.donate-options {
  display: flex;
  justify-content: center;  
  gap: 10px;
  margin-bottom: 10px;
}

.donate-card {
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding:40px 80px;           
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
}
.donate-card.highlight {
  background-color: #C6E4D6;
}

.donate-other {
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 390px 10px 390px;
  font-size: 16px;
  color: #888;
  text-align: center;
  margin-left: -188px;
}

.donate-now {
  background-color: #006A50;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0; 
}
.donate-now:hover {
  background-color: #005944;
}

.subscribe-card {
  background-color: #C6E4D6;
  padding: 80px 40px;
  border-radius: 12px;
  width: 84%;
  margin: 40px auto;
  text-align: center;
}

.subscribe-card h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 20px;
}

.subscribe-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.subscribe-input {
  flex: 0.5;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.subscribe-button {
  background-color: #006A50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px 8px 8px 0px;
  margin-left: -20px;
  cursor: pointer;

}

.subscribe-button:hover {
  background-color: #005944;
}

.subscribe-note {
  font-size: 14px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 5px;
}

.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd; 
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-socials img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.footer-socials img:hover {
  opacity: 0.7;
}
